<div class="recipe-list-container">
  @for (recipe of recipes; track recipe.id) {
  <div class="recipe-list-card">
    <button (click)="deleteRecipe(recipe.id)" class="recipe-list-delete"><p>X</p></button>
  <!-- <app-recipe-card [recipe]="recipe"></app-recipe-card> -->
    <h3><a [routerLink]="['/recipe-detail', recipe.id]">{{ recipe.name }}</a></h3>
    <p>{{ recipe.instructions }}</p>
    <ul>
    @for (ingredient of recipe.ingredients; track ingredient) {
      <li>{{ ingredient }}</li>
    }
    </ul>
    <p>{{ recipe.prepTime }} min</p>
  </div>
  } @empty {
    <p>No recipes</p>
  }
</div>
